ul li {
    list-style: none
}
h3 {
    float: left
}
.spaceTop {
  margin-top: 10px;
}
.spaceBot {
  margin-bottom: 10px;
}
.song-Card {
    width: 24rem;
    margin: 10px;
}
.btn {
    cursor: pointer
}
.arrowMargins {
    margin: 5px 10px;
}
.whiteText {
    color: white;
}

@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  overflow: hidden;
  background: black;
}

#Controls {
  position: absolute;
  margin: auto;
  bottom: calc(25%);
  left: 0;
  right: 0;
  width: 150px;
  height: 44px;
  background: #4CAF50;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-family: 'Oswald';
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

canvas {
  position: absolute;
}

#ChromeOnly {
  /*INDICATES OUR PROJECT ONLY RUNS PROPERLY ON CHROME - Shows if Visualizer doesn't Load*/
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #F44336;
  text-align: center;
  line-height: 100vh;
  font-family: 'Oswald';
  color: #fff;
  text-shadow: 0 10px 20px rbga(0, 0, 0, 0.2);
  font-size: 2vw;
  visibility: hidden;
  display: none;
}